html, body {
  font-family: 'Comic Sans MS';
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(42, 42, 42);
  color: white;
}

h1 {
  margin-top: auto;
}

div {
  font-size: 1.2rem;
}

a:link {
  color: rgb(86 238 164)
}

a:visited {
  color: rgb(208, 45, 241);;
}

.documentation {
  margin-bottom: 10px;
}

.hackerman {
  margin-top: auto;
}